<div class="grid grid-cols-1 gap-2 lcars-list">
    @for(asset of assetList; track asset)
    {
        @if(asset!=undefined)
        {
            @if((FleetAssetList==false || (FleetAssetList && asset.IsInFleet)) && (SceneAssetList==false || (SceneAssetList && asset.IsInScene)))
            {                
                @if(focusedAssetId==asset.Id)
                {
                    <button class="btn btn-secondary rounded-full w-full max-w-96" type="button" (click)="focusAsset(asset.Id)">{{ asset.Name }}</button>
                    <app-asset (assetUpdatedEvent)="refreshAssets()" [assetId]="asset.Id" class="p-6"/>  
                } 
                @else
                {
                    <button class="btn btn-primary rounded-full w-full max-w-96" type="button" (click)="focusAsset(asset.Id)">{{ asset.Name }}</button>
                }
            }
        }    
    }   
</div>