<div class="grid grid-cols-1 gap-2">
    @for(character of charList; track character)
    {
        @if(character!=undefined)
        {
            @if((CrewCharList==false || (CrewCharList && character.IsCrew)) && (SceneCharList==false || (SceneCharList && character.IsInScene)))
            {
                <button class="btn btn-primary rounded-full max-w-96" type="button" (click)="focusCharacter(character.Id)">{{ character.Rank}} {{ character.Name }}</button>
                @if(focusedCharacterId==character.Id)
                {
                    <div class="divider"></div>
                    <app-character (characterUpdatedEvent)="refreshCharacters()" [characterId]="character.Id"/>  
                    <div class="divider"></div> 
                }
            }
        }    
    }   
</div>