<div class="grid grid-cols-1 gap-2">
  <div class="flex">
    <button i18n class="btn btn-warning join-item rounded-full flex-1 max-w-40" (click)="newCharacter()">New Character</button>
    <div class="divider divider-horizontal mx-2"></div>
    <button class="btn btn-primary flex-1 max-w-40" onclick="presetCharacterModal.showModal()">Add Preset</button>
  </div>

  <!--Tabs-->
  <div role="charactertablist" class="tabs tabs-lifted">
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="All" checked/>
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist/></div>
    
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="Crew"  />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist [CrewCharList]="true"/></div>
    
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="Scene" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist [SceneCharList]="true"/></div>
    </div>
</div>

<dialog id="presetCharacterModal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 i18n class="text-lg font-bold">Preset Assets</h3>
    <div class="grid grid-cols-3 gap-2 items-center">
      <p i18n class="col-span-3 text-center">Filters</p>
      <select class="select select-bordered w-full max-w-xs" (change)="filterChange()" [(ngModel)]="eraFilter">
        <option i18n selected>Era</option>
        @for(Era of eras; track Era)
        {
            <option>{{Era}}</option> 
        }
      </select>
      <select class="select select-bordered w-full max-w-xs" (change)="filterChange()" [(ngModel)]="factionFilter">
        <option i18n selected>Faction</option>
        @for(Faction of factions; track Faction)
        {
            <option>{{Faction}}</option> 
        }
      </select>
      <select class="select select-bordered w-full max-w-xs" (change)="filterChange()" [(ngModel)]="traitFilter">
        <option i18n selected>Trait</option>
        @for(Trait of traits; track Trait)
        {
            <option>{{Trait}}</option> 
        }
      </select>
      <div class="divider col-span-3 my-0"></div>
    </div>
    <div class="grid grid-cols-1 gap-2 items-center">
      @for(presetCharacter of filteredCharacterList; track presetCharacter)
      {
        <button class="btn btn-primary rounded-full max-w-96" type="button" (click)="newPresetCharacter(presetCharacter)">{{ presetCharacter.Name }}</button>        
      }   
  </div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button i18n class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

