<div class="grid grid-cols-1 gap-2">
  <button class="btn btn-warning join-item rounded-full max-w-48" (click)="newCharacter()">New Character</button>
  <!--Tabs-->
  <div role="charactertablist" class="tabs tabs-lifted">
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="All" checked/>
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist/></div>
    
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="Crew"  />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist [CrewCharList]="true"/></div>
    
      <input type="radio" name="CharacterTabs" role="tab" class="tab" aria-label="Scene" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-characterlist [SceneCharList]="true"/></div>
    </div>
</div>
