<div id="drawer-oracles" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-neutral text-neutral-content w-80 " tabindex="-1" aria-labelledby="drawer-oracles-label">
    <h5 i18n id="drawer-label" class="inline-flex items-center mb-4 font-semibold"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>Oracles</h5>
   <button type="button" data-drawer-hide="drawer-oracles" aria-controls="drawer-oracles" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span i18n class="sr-only">Close menu</span>
   </button>

   <div class="grid grid-cols-2 gap-2">
     <app-oracle class="btn-error" [oracle]="threatOracle" (oracleResultEvent)="showOracleModal($event)"/>
     <app-oracle class="btn-success" [oracle]="momentumOracle" (oracleResultEvent)="showOracleModal($event)"/>
     <div class="divider divider-accent col-span-2 my-0"></div>
    <p i18n class="col-span-2 text-center">Mission Generation</p>
    <app-oracle class="btn-primary col-span-2" [oracle]="missionTypeOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtAidOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtConspiracyOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtDeepSpaceOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtDefenceOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtDiplomacyOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtEscortOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtEspionageOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtFirstContactOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtMedicalOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtNearSpaceOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtPatrolOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtPlanetaryOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtPoliticalOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtReseachOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtFlagOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtSpiritualOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtJagOracle" (oracleResultEvent)="showOracleModal($event)" />
    <app-oracle class="btn-secondary" [oracle]="mtTacticalOracle" (oracleResultEvent)="showOracleModal($event)" />

    <app-oracle class="btn-primary" [oracle]="incidentOracle" (oracleResultEvent)="showOracleModal($event)"/>
    <app-oracle class="btn-primary" [oracle]="themeOracle" (oracleResultEvent)="showOracleModal($event)"/>
    <app-oracle class="btn-error" [oracle]="complicationsOracle" (oracleResultEvent)="showOracleModal($event)"/>
    <app-oracle class="btn-success" [oracle]="advantagesOracle" (oracleResultEvent)="showOracleModal($event)"/>
   </div>
</div>

<dialog id="oracleModal" class="modal modal-bottom sm:modal-middle" [ngClass]="{'modal-open' : showModal}">
   <div class="modal-box">
     <h3 class="text-lg font-bold">{{modalTitle}}</h3>
     <p class="py-4">{{modalMessage}}</p>
     <div class="modal-action">
         <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeOracleModal()">✕</button>
         <button i18n class="btn" (click)="rerollOracle()">Reroll</button>
         <button i18n class="btn" (click)="closeOracleModal()">Close</button>
     </div>
   </div>
 </dialog>