<div class="grid grid-cols-2 gap-2">
  <div class="form-control">
    <label class="label cursor-pointer h-full">
      <span i18n class="label-text text-right w-full mr-5">{{'IsInFleet' | translate}}</span> 
      <input type="checkbox" [(ngModel)]="IsInFleet" class="checkbox" />
    </label>
  </div>
  <div class="form-control">
    <label class="label cursor-pointer h-full">
      <span i18n class="label-text text-right w-full mr-5">{{'IsInScene' | translate}}</span> 
      <input type="checkbox"  [(ngModel)]="IsInScene"  class="checkbox" />
    </label>
  </div>
</div>


<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Name' | translate}}</span>
        </div>
        <input type="text" [(ngModel)]="Name" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Class' | translate}}</span>
        </div>
        <input type="text" [(ngModel)]="Class" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Registry' | translate}}</span>
        </div>
        <input type="text" [(ngModel)]="Registry" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Scale' | translate}}</span>
        </div>
        <input type="text" [(ngModel)]="Scale" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Traits' | translate}}</span>
        </div>
        <textarea class="textarea textarea-bordered w-full max-w-xs" [(ngModel)]="Traits"></textarea>
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span i18n class="label-text">{{'Talents' | translate}}</span>
        </div>
        <textarea class="textarea textarea-bordered w-full max-w-xs" [(ngModel)]="Talents"></textarea>
    </label>

    <label class="col-span-1 md:col-span-2">  
      <div class="label w-full">
        <span i18n class="label-text">{{'Systems' | translate}}</span>
      </div>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-3">
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysComms')">{{'Comms' | translate}}</button>
          <input [(ngModel)]="SysComms" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysComputers')">{{'Computers' | translate}}</button>
          <input [(ngModel)]="SysComputers" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysEngines')">{{'Engines' | translate}}</button>
          <input [(ngModel)]="SysEngines" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysSensors')">{{'Sensors' | translate}}</button>
          <input [(ngModel)]="SysSensors" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysStructure')">{{'Structure' | translate}}</button>
          <input [(ngModel)]="SysStructure" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-primary join-item rounded-l-full w-1/2" (click)="rollField($event,'SysWeapons')">{{'Weapons' | translate}}</button>
          <input [(ngModel)]="SysWeapons" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
      </div>
    </label>

    <label class="col-span-1 md:col-span-2">  
      <div class="label w-full">
        <span i18n class="label-text">{{'Departments' | translate}}</span>
      </div>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-3">
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptCommand',true)">{{'Command' | translate}}</button>
          <input [(ngModel)]="DeptCommand" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptConn',true)">{{'Conn' | translate}}</button>
          <input [(ngModel)]="DeptConn" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptSecurity',true)">{{'Security' | translate}}</button>
          <input [(ngModel)]="DeptSecurity" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptEngineering',true)">{{'Engineering' | translate}}</button>
          <input [(ngModel)]="DeptEngineering"class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptScience',true)">{{'Science' | translate}}</button>
          <input [(ngModel)]="DeptScience" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
        <div class="join">
          <button i18n class="btn btn-secondary join-item rounded-l-full w-1/2" (click)="rollField($event,'DeptMedical',true)">{{'Medicine' | translate}}</button>
          <input [(ngModel)]="DeptMedical" class="input input-bordered join-item rounded-r-full w-1/2"/>
        </div>
      </div>
  </label>

    <label class="col-span-1 md:col-span-2">  
        <div class="label w-full">
            <span i18n class="label-text">{{'Notes' | translate}}</span>
          </div>
        <div class="NgxEditor__Wrapper w-full">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [(ngModel)]="Notes" [editor]="editor"></ngx-editor>
        </div>
    </label>

    <div class="flex">
      <button i18n class="btn btn-error join-item rounded-full flex-initial w-48 mx-2" (click)="delete()">{{'Delete' | translate}}</button>
      <button i18n class="btn btn-warning join-item rounded-full flex-initial w-48 mx-2" (click)="save()">{{'Save' | translate}}</button>
  </div>
</div>
