<div class="grid grid-cols-1 gap-2">

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Log Title</span>
        </div>
        <input type="text" [(ngModel)]="title" placeholder="Log Title" class="input input-bordered w-full max-w-xs" />
    </label>

    <label>  
        <div class="label w-full">
            <span class="label-text">Log Entry</span>
          </div>
        <div class="NgxEditor__Wrapper w-full">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [(ngModel)]="entry" [editor]="editor"></ngx-editor>
        </div>
    </label>
    <div class="flex">
        <button class="btn btn-error join-item rounded-full flex-initial w-48 mx-2" (click)="delete()">Delete</button>
        <button class="btn btn-warning join-item rounded-full flex-initial w-48 mx-2" (click)="save()">Save</button>
    </div>
</div>
