<div class="grid grid-cols-1 gap-2">
    <div class="flex">
        <button class="btn btn-warning join-item rounded-full max-w-250" (click)="newAsset()">New Asset</button>
        <div class="dropdown w-250">
            <div tabindex="0" role="button" class="btn btn-primary max-w-250">Add Preset</div>
            <ul tabindex="0" name="AssetPresetList" class="dropdown-content menu bg-base-100 rounded-box z-[1] max-w-250 max-h-100 p-2 shadow">
                @for(presetAsset of assetService.MasterAssetList; track presetAsset)
                {
                    <li><a (click)="newPresetAsset(presetAsset)">{{presetAsset.Name}}</a></li>
                }
            </ul>
        </div>
    </div>


    <!--Tabs-->
    <div role="assettablist" class="tabs tabs-lifted">
        <input type="radio" name="AssetTabs" role="tab" class="tab" aria-label="All" checked/>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-assetlist/></div>
      
        <input type="radio" name="AssetTabs" role="tab" class="tab" aria-label="Fleet"  />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-assetlist [FleetAssetList]="true"/></div>
      
        <input type="radio" name="AssetTabs" role="tab" class="tab" aria-label="Scene" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"><app-assetlist [SceneAssetList]="true"/></div>
      </div>
  </div>
  