<div class="grid grid-cols-2 gap-2">
    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Environment</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Pronouns</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Early Outlook</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Traits</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Education</span>
        </div>
        <input type="text" class="input input-bordered w-full max-w-xs" />
    </label>

    <label>  
        <div class="label w-full">
            <span class="label-text">Campaign Notes</span>
          </div>
        <div class="NgxEditor__Wrapper w-full">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor"></ngx-editor>
        </div>
    </label>
</div>
